<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Wi-Fi 設定入口{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css" integrity="sha512-USMruYEYVplpXCMVvjJAnCmvYzu3/n6PvJEa3TBUnIFVWMGryuVKyXjHimoMuquxYZc13JUO2c+hJ1ytY1/6wQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
</head>
<body>
    <main class="container">
        <h1>Raspberry Pi Wi-Fi 設定</h1>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
